img{
    text-align: center;
    margin-left: 100px;
    
}

.credit{
    text-align: center;
    margin-top: 60px;
    color:rgb(0, 0, 0);
    background-color: rgb(150, 144, 144);
    
}
.counter{
    
    text-align: center;
    margin-top: 60px;
    color:rgb(0, 0, 0);
    background-color:  rgb(150, 144, 144);;
     
}